@import url(reset.css);
@import url(font.css);

.fadeShow{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.changeimg ul li{  /* 나타나기전에 설정-안보이게, 크기1.2배 */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  transform: scale(1.2); 
  transition: 1.5s;
}
.changeimg ul li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}
/* 나타날때 설정-보이게 하고,크기 실제1 ==>jQuery 에서 클래스 생성 및 삭제 */
.changeimg ul li.imgVisible{ 
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.changeimg ul li:nth-child(1){background-image:url(../image/mvisual-1.jpg);}
.changeimg ul li:nth-child(2){background-image:url(../image/mvisual-2.jpg);}
.changeimg ul li:nth-child(3){background-image:url(../image/mvisual-3.jpg);}
.changeimg ul li:nth-child(4){background-image:url(../image/mvisual-4.jpg);}

/* 좌우버튼 */
.icon{
  font-size: 80px;
  color: #fff;
}
.side_btn .lbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:30px;
  z-index: 200;
}
.side_btn .lbtn:hover{opacity: 0.5;}

.side_btn .rbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:30px;
  z-index: 200;
}
.side_btn .rbtn:hover{opacity: 0.5;}

/*비주얼 텍스트 공통*/
/* 나타나기전에 설정-안보이게, 위치 y축(-10%) 위로 올려놓음 */
.des{ 
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-10%);
  color: #fff;
  text-align: center;
  /* opacity: 0; */
  transition: 1s;

}

/* 나타날때 설정-보이게 하고,위치 y축(-50%) ==>jQuery 에서 클래스 생성 및 삭제 */
.des.textVisible{ 
  opacity: 1;
  transform: translate(-50%,-50%);
}

.des h3{
  font-size: 52px;
  text-shadow:0 0 10px #000;
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 20px;
}
.des p{
  font-size: 17px;
  line-height: 30px;
}
.des p:nth-of-type(3){
  width:150px;
  height:42px;
  background:rgba(0,0,0,0.3);
  border:1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin: 20px auto;
  transition: 0.35s;
}
.des p:nth-of-type(3):hover{background:rgba(0,0,0,0.8);}