@import url(common.css);

.fadeShow{
  position:fixed;
  width: 100%;
  height: 100vh;
  margin:auto;
}


/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.changeimg ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
}


/* (2)첫번째 이미지만 보임 */
.changeimg ul li:first-child{
  display: block;
}
.changeimg ul li:nth-child(1){
  background: url(../image/fade-1.jpg);
}
.changeimg ul li:nth-child(2){
  background: url(../image/fade-2.jpg);
}
.changeimg ul li:nth-child(3){
  background: url(../image/fade-3.jpg);
}
.changeimg ul li:nth-child(4){
  background: url(../image/fade-4.jpg);
}

/* 하단버튼 */
.fadeShow .btn{
  position: absolute;
  top: 120px;
  left: 100px;
}

.btn ul li{
  float: left;
  width: 10px;
  height: 10px;
  background: #d5d5d6;
  margin: 0 5px;
  cursor: pointer;
}

.btn ul li.active{
  width: 50px;
  background: #ffff00;
}



/* 좌우버튼 */
.icon{
  font-size: 80px;
  color:#fff;
}

/* .icon:hover{
  opacity: 0.5;
} */

.side_btn .lbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:30px;
  width:65px;
  height: 65px;
  /* background: url(../image/left-off.png) no-repeat; */
}
.side_btn .lbtn:hover{
 opacity: 0.5;
}
.side_btn .rbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:30px;
  width:65px;
  height: 65px;
  /* background: url(../image/right-off.png) no-repeat; */
}

.side_btn .rbtn:hover{
  opacity: 0.5;
 }



/* 비주얼 텍스트 공통 */
.changeimg ul li dl{
  position: absolute;
  top:160px;
  left:100px;
  color:#fff;
}

.changeimg ul li dl dt{
  font-size: 40px;
}


.changeimg ul li dl dt span{
  font-size: 30px;
  letter-spacing: -1px;
}

.changeimg ul li dl dd:nth-of-type(1){
 font-size: 14px;
 color:#ddd;
}

.changeimg ul li dl dd:nth-of-type(2){
  width: 150px;
  height: 42px;
  background: rgba(0,0,0,0.3);
  border: 1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin-top:20px;
}



