@import url(reset.css);
@import url(font.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prata&display=swap');

body{background: url(../image/back.jpg);}

main{
  width: 100%;
  height: 600px;
  background: url(../image/main.jpg) no-repeat center center;
  background-size: cover;
  /* position: relative; */
}
.main-inner{
  position: relative;
  width: 1300px;
  height: inherit;
  margin: auto;
  /* border: 1px solid #000; */
}
.main-visual{
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual ul li{  /* 이미지와 텍스트 모두 동일한 위치에 겹쳐놓음 */
  /* border: 1px solid red; */
  position: absolute;
  width: 1300px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-image{
  /* border: 1px solid green; */
  flex: 1;
  width: 100%;
  height: 600px;
  opacity: 0;  
  transform: translateX(-30px);
  transition: 1s;
}
.main-visual ul li:nth-of-type(1) .main-image{background: url(../image/main01.png) no-repeat center center;}
.main-visual ul li:nth-of-type(2) .main-image{background: url(../image/main02.png) no-repeat center center;}
.main-visual ul li:nth-of-type(3) .main-image{background: url(../image/main03.png) no-repeat center center;}
.main-visual ul li:nth-of-type(4) .main-image{
  background: url(../image/main04.png) no-repeat center center;
  padding-top: 30px;
}

.main-text{
  /* border: 1px solid blue; */
  flex: 1;
  width: 100%;
  height: 600px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  opacity: 0;
  transform: translateX(20px);
  transition: 1s;
}
.main-text h2{
  font-family: 'Prata', serif;
  text-transform: capitalize;
  font-size: 65px;
  font-weight: 300;
  color: #682e25;
  /* border: 1px solid #000; */
}
.main-text p{
  padding-top: 26px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  /* text-align: right; */
  color: #421d16;
}
.main-btn{
  position: absolute;
  bottom: 30px;
  right: 60px;
  display: flex;
  column-gap: 3px;
}
.main-btn a{
  display:block;
	text-indent:-9999px;  /* 입력된 숫자 보이지않게 밀어둠 */
  width: 100px;
  height: 10px; 
  background: #f8f8f8;
  border-left: 1px solid rgba(170, 122, 122, 0.4);
  cursor: pointer;
}
.main-btn a.active{background-color: #421d16;}


/* JQuery에서 클래스 생성 및 제거 */
.main-image.imgVisible{
  opacity: 1;
  transform: translateX(0);
}
.main-text.textVisible{
  opacity: 1;
  transform: translateX(0);
}