@import url(common.css);

.fade{
  position:relative;
  width: 1000px;
  height: 350px;
  margin:auto;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.fade-items ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
}

/* (2)첫번째 이미지만 보임 */
.fade-items ul li:first-child{display: block;}

/* Bottom Button */
.bottom-btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-btn ul{display: flex;}
.bottom-btn ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: 0 5px;
  cursor: pointer;
}
.bottom-btn ul li.active{background: #ff6600;}

/* Next Prev Button */
.side-btn .icon{
  font-size: 60px;
  color: #333;
}
.side-btn .prev{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:30px;
  width:65px;
  height: 65px;
}
.side-btn .prev:hover{opacity: 0.5;}

.side-btn .next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:30px;
  width:65px;
}
.side-btn .next:hover{opacity: 0.5;}