@import url(reset.css);
@import url(font.css);

.fade{  /* FullScreen */
  position:relative;
  width: 100%; 
  height: 100vh;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.fade-items ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
}

/* (2)li에 배경이미지,첫번째 이미지만 보임 */
.fade-items ul li:first-child{display: block;}
.fade-items ul li:nth-child(1){background-image: url(../image/fade-1.jpg);}
.fade-items ul li:nth-child(2){background-image: url(../image/fade-2.jpg);}
.fade-items ul li:nth-child(3){background-image: url(../image/fade-3.jpg);}
.fade-items ul li:nth-child(4){background-image: url(../image/fade-4.jpg);}


/* Next Prev Button */
.side-btn .icon{
  font-size: 80px;
  color: #fff;
}
.side-btn .prev{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:30px;
  width:65px;
  height: 65px;
}
.side-btn .prev:hover{opacity: 0.5;}

.side-btn .next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:30px;
  width:65px;
}
.side-btn .next:hover{opacity: 0.5;}


/* 비주얼 텍스트 공통 */
.fade-items ul li dl{
  position: absolute;
  top:160px;
  left:100px;
  color:#fff;
}
.fade-items ul li dl dt{font-size: 40px;}
.fade-items ul li dl dt span{
  font-size: 30px;
  letter-spacing: -1px;
}
.fade-items ul li dl dd:nth-of-type(1){
  font-size: 14px;
  color:#ddd;
}
.fade-items ul li dl dd:nth-of-type(2){
  width: 150px;
  height: 42px;
  background: rgba(0,0,0,0.3);
  border: 1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin-top:20px;
}