@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');

.fadeShow{
  position:relative;
  width: 100%;
  height: 600px;
  background-color: lightgray;
  overflow: hidden;
}


.fadeShow_in{  /* 가운데 비주얼이미지 */
  position:relative;
  z-index: 100;
  width: 1200px;
  height: 600px;
  margin:auto;
}

/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.changeimg ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 1200px;
  height: 600px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  line-height: 600px;
}
.changeimg ul li h2{
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Bellota', cursive;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
}

/* (2)li에 배경이미지,첫번째 이미지만 보임 */
.changeimg ul li:first-child{display: block;}
.changeimg ul li:nth-child(1){background-image: url(../image/season-1.jpg);}
.changeimg ul li:nth-child(2){background-image: url(../image/season-2.jpg);}
.changeimg ul li:nth-child(3){background-image: url(../image/season-3.jpg);}
.changeimg ul li:nth-child(4){background-image: url(../image/season-4.jpg);}

/* 하단버튼 */
.fadeShow .btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.btn ul{display: flex;}
.btn ul li{
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.btn ul li.active{background: #fff;}

/* 좌우버튼 */
.icon{
  font-size: 80px;
  color: #000;
}
.side_btn .lbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:-100px;
  width:65px;
  height: 65px;
}
.side_btn .lbtn:hover{opacity: 0.7;}

.side_btn .rbtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:-100px;
  width:65px;
}
.side_btn .rbtn:hover{opacity: 0.7;}



/* 비주얼 밑으로 보이는 배경이미지(추가) */
.back_img ul li{
  display: none;
  position:absolute;
  top:0;
  left:0;
  z-index: 10;  /* 비주얼가운데 이미지보다 아래에 위치함 */
  width: 100%;
  height: 600px;
}
.back_img ul li:first-child{display: block;}

.back_img ul li img{
  filter: grayscale(50);
  opacity: 0.5;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

