@import url(common.css);

* {
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Slider Layout */
#slider {
	position: relative; 
  width: 1000px;
	height: 400px;
	overflow:hidden; 
}
#slider .slide-items {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
#slider .slide-items li{ 
	width: 1000px;
	height: 400px;
  color: #fff;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
#slider .slide-items li.dodgerblue{background-color: dodgerblue;}
#slider .slide-items li.crimson{background-color: crimson;}
#slider .slide-items li.yellowgreen{background-color: yellowgreen;}
#slider .slide-items li.gold{background-color: gold;}


/* Next Prev Button */
.control {
  position: absolute;
  color: #fff;
  padding: 0 20px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer; 
}
.prev {left: 0;}
.next {right: 0;}


/* Indicator Button */
.indicatior-button{
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
	bottom: 20px;
  display: flex;
}
.indicatior-button li {
	background: #000;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}
.indicatior-button li.active {
	background: #fff;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}


/* Autoplay Control */
label[for=toggle] {
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
  color: #fff;
}
input[id=toggle] { display: none; }
input[id=toggle] + em {
  display: inline-block; 
  font-size: 20px;
  margin-right: 5px; 
  vertical-align: middle;
}
input[id=toggle] + em:before {
  content: '\ef71';
  font-family: 'Material Symbols Outlined';
  font-style: normal;
}
input[id=toggle]:checked + em:before {
  content: '\e1c4';
}