@import url(common.css);

body {background: #979797;}

#slideShow {
	position: relative; /*부모기준설정*/
	overflow: hidden; /*(3)넘치는 자식 보이지않게 -> 슬라이드가 보여지는 영역*/
	width: 940px;
	height: 430px;
	margin: auto;
}
.slide ul {
	position: absolute;
	width: 4700px; /*(2)슬라이드가 가로방향일때만->이미지의 총가로길이(940*4)*/
}
.slide ul li {
	float: left; /*(1)슬라이드가 가로방향일때만->가로배열*/
}


/*하단버튼*/
.slide_btn {
	position: absolute;
	bottom: 20px;
	left: 50%;
  transform: translateX(-50%);
}
.slide_btn ul li {
	float: left;
	background: #000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}
.slide_btn ul li.active {
	background: #ff6600;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/*좌우버튼*/
.slide_side_btn .pre {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
	left: 30px;
	width: 65px;
	height: 65px;
	background: url(../image/left-off.png) no-repeat;
}
.slide_side_btn .pre:hover {
	background: url(../image/left-on.png) no-repeat;
	cursor: pointer;
}
.slide_side_btn .nex {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
	right: 30px;
	width: 65px;
	height: 65px;
	background: url(../image/right-off.png) no-repeat;
}
.slide_side_btn .nex:hover {
	background: url(../image/right-on.png) no-repeat;
	cursor: pointer;
}


/*Play,Stop 버튼*/
.playstop .stop {
	position: absolute;
	bottom: 20px;
	left: 540px;
	width: 8px;
	height: 11px;
	background: url(../image/btn_pause.png) no-repeat;
}
.playstop .play {
	position: absolute;
	bottom: 20px;
	left: 540px;
	width: 8px;
	height: 11px;
	background: url(../image/btn_play.png) no-repeat;
}