@import url(reset.css);
@import url(font.css);

/* Slider Layout */
.slide{
  position: relative; 
  width: 100%;
	height: 600px;
  overflow: hidden;
}
.slide .slide-items {
  position: absolute; 
  top: 0;
  left: 0;
  display: flex;
}
.slide .slide-items li{ 
	width: 100%;
	height: 100%;
  color: #fff;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.slide .slide-items li.dodgerblue{background-color: dodgerblue;}
.slide .slide-items li.crimson{background-color: crimson;}
.slide .slide-items li.yellowgreen{background-color: yellowgreen;}
.slide .slide-items li.gold{background-color: gold;}

/* Prev Next  Button */
.slide-side .icon{
  font-size: 60px;
  color: #fff;
}
.slide-side .prev,
.slide-side .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slide-side .prev{left: 30px;}
.slide-side .next{right: 30px;}
.slide-side .prev:hover,
.slide-side .next:hover{opacity: 0.5;}