@import url(common.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Poppins&display=swap');

body {background: #ffc900;}

#slideShow {
	position: relative; /*부모기준설정*/
	overflow: hidden; /*넘치는 자식 보이지않게*/
	width: 100%;
	height: 100vh;
	margin: auto;
}

.slide ul {
	position: absolute;
	width: 5760px; /*슬라이드가 가로방향일때만->이미지의 총가로길이(1920*3)*/
}

.slide ul li {
	float: left; /*슬라이드가 가로방향일때만->가로배열*/
  width: 1920px;
  height: 1050px;
  background-repeat: no-repeat;
}
.slide ul li:nth-child(1){background-image:url(../image/slide-1.png);}
.slide ul li:nth-child(2){background-image:url(../image/slide-2.png);}
.slide ul li:nth-child(3){background-image:url(../image/slide-3.png);}


/*좌우버튼*/
.icon{
  font-size: 80px;
  color: #333;
}
.slide_side_btn .lbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 65px;
  height: 65px;
}
.slide_side_btn .lbtn:hover{opacity: 0.5;}

.slide_side_btn .rbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 65px;
  height: 65px;

}
.slide_side_btn .rbtn:hover{opacity: 0.5;}




/*슬라이드 텍스트 공통*/
.slide_text{
  margin-top: 270px;
  margin-left: 350px;
}
.slide_text h2{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #333;
}
.slide_text h2 strong{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  display: block;
  color: #d90000;
  font-size: 50px;
}
.slide_text h3{
  color: #333;
  font-size: 50px;
  font-weight: 500;

}
.slide_text p{
  color: #444;
}
.slide_text button{
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 30px;
  background: #d90000;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
}